.nav {
  list-style-type: none;
  color: var(--gray-1);
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  font-style: normal;
}

.nav:not(:last-child) {
  margin-right: 4.8rem;
}

.nav-extra-popup {
  display: flex;
  align-items: center;
}

.nav-extra-popup .icon {
  height: 2rem;
  width: 2rem;
  margin-left: 0.8rem;
}
