.textarea {
  resize: none;
  border: none;
  outline: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  border-radius: 8px;
  padding: 1.2rem 1.4rem;
}

.textarea::placeholder {
  color: var(--text-area-placeholder);
}
