.create-social-form {
  padding-top: 8.8rem;
  padding-bottom: 10rem;
}

.create-social-form-container {
  display: flex;
}

.create-social-form__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 48.9rem;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.create-social-form__container .date-group {
  display: flex;
  gap: 0 1.6rem;
  margin: 2.8rem 0;
}
.create-social-form .date-input {
  max-width: 23.7rem;
}

.create-social-form .time-input {
  max-width: 23.7rem;
}

.create-social-form .location-input {
  width: 100%;
}

.create-social-form__container .capacity-group {
  display: flex;
  max-width: 40.6rem;
  align-items: center;
  margin-top: 1.2rem;
}

.create-social-form__container .capacity-group .cost-input {
  margin-left: 3.2rem;
}
.add-banner__container {
  width: 100%;
  height: 44.5rem;
  margin-left: 1.8rem;
}
.add-banner-btn {
  background: var(--gray-6);
  border: 1px dashed #f2f2f2;
  border-radius: 0px 64px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-blue);
}

.add-banner-btn span {
  margin-left: 1.6rem;
}

.choose-banner-modal {
  min-width: 80%;
  min-height: auto;
  background-color: var(--white);
  border-radius: 0.4rem;
}

.choose-banner-group {
  min-height: 80vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.choose-banner-container {
  padding: 2.4rem 1.2rem;
}

.choose-banner-title p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  font-style: normal;
  color: var(--gray-2);
}

.choose-banner-title {
  border-bottom: 0.1rem solid var(--border-color);
}

.choose-banner-btn-group {
  display: flex;
  justify-content: flex-end;
  border-top: 0.1rem solid var(--border-color);
}

.choose-banner-save-btn {
  background-color: rgb(255, 246, 66);
  color: rgb(129, 28, 93);
  margin-left: 1.2rem;
}

.choose-banner-save-btn:hover {
  background-color: rgb(251, 253, 0);
}

.choose-banner-images {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.2rem;
}

.choose-banner-img {
  cursor: pointer;
}

.create-social-description-container {
  display: flex;
  flex-direction: column;
  max-width: 64.2rem;
}

.create-social-description-label {
  margin-bottom: 0.6rem;
}

.create-social-description-textarea {
  height: 20.7rem;
}

.create-social__checkbox-container {
  display: flex;
  align-items: center;
}
.create-social__checkbox-container .create-social__checkbox-label {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  color: rgba(52, 64, 84, 1);
  margin-left: 1.2rem;
}

.create-social-setting-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.2rem;
  gap: 2rem;
  margin-top: 3.2rem;
  background-color: var(--white);
  border-radius: 2rem;
}

.radio-privacy-container {
  display: flex;
  align-items: center;
}

.radio-privacy-container .label {
  margin-left: 1.2rem;
}

.create-social-privacy-group {
  display: flex;
  gap: 3.2rem;
}

.create-social-setting-group__title {
  background-color: var(--yellow);
  color: var(--purple);
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 6rem;
  padding: 0 1.2rem;
  width: fit-content;
}

.create-social-tags-select .title {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: rgba(52, 64, 84, 1);
}

.create-social-tags-select .subtitle {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: rgba(71, 84, 103, 1);
  margin-bottom: 2.4rem;
}

.tags-container {
  display: flex;
  gap: 0.8rem;
}

.tags-selected-container {
  margin-bottom: 1.6rem;
}

.create-social-submit-btn {
  background-color: var(--yellow);
  color: var(--purple);
  width: 100%;
  padding: 1.2rem 0;
  margin-top: 3.2rem;
}

.create-social-submit-btn:hover {
  background-color: rgb(251, 253, 0);
}

.banner-img {
  cursor: pointer;
  border-radius: 0 6.4rem;
  position: relative;
}

.banner-img:hover {
  filter: blur(0.3rem);
}

.social-form-content-container {
  display: flex;
  flex-direction: column;
  width: 64.2rem;
  position: relative;
  z-index: 2;
}

.social-form-title {
  color: var(--white);
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6rem;
  background-color: var(--purple);
  margin-bottom: 2.4rem;
  width: fit-content;
  word-break: break-word;
}

.social-form-date {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
  gap: 3.2rem;
}

.title-information {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 4rem;
}

.social-form-addition-information {
  margin-bottom: 3.2rem;
}

.subtitle-information {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 4rem;
}

.description {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
  word-break: break-word;
  display: inline;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container .subtitle-information {
  margin-left: 0.8rem;
}

.icon-container .title-information {
  margin-left: 0.8rem;
}

.social-form-addition-information {
  display: flex;
  gap: 3.2rem;
}

.social-form-container {
  position: relative;
}
.social-form-banner-img {
  position: absolute;
  right: 8.2rem;
  top: 0;
  border-radius: 0 6.4rem;
}

.has-chosen-banner-img {
  border: 0.3rem solid var(--yellow);
}

.add-banner-btn--error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-top: 3.2rem;
}
